.input-wrapper {
    background-color: white;
    width: auto;
    min-width: 400px;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    /* box-shadow: 0px 0px 8px #ddd; */
    display: flex;
    align-items: center;
}
.search-input {
    background-color: transparent;
    border: none;
    margin-left: 5px;
}

.search-input:focus {
    outline: none;
}

#search-icon {
    color: royalblue;
}